---
layout: default
---

<section class="section-pricing-intro">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h1>{{ page.heading }}</h1>
				<p class="large">
					{{ page.intro }}
				</p>
			</div>
			<div class="col-sm-6">
				<div class="pricing-card">
					<div class="pricing-price">{{ site.monthly-price }}</div>
					<div class="pricing-per">/month</div>
					<div class="pricing-features">
						<div class="pricing-feature">
							<img src="/assets/img/check.svg" alt="Check icon" /> Ready in
							three business days
						</div>
						<div class="pricing-feature">
							<img src="/assets/img/check.svg" alt="Check icon" /> No setup fee
						</div>
						<div class="pricing-feature">
							<img src="/assets/img/check.svg" alt="Check icon" /> Cancel any
							time
						</div>
					</div>
					<a class="pricing-cta button" href="/start/">Get started</a>
				</div>
			</div>
		</div>
	</div>
</section>
