---
layout: default
---

<section class="section-pricing-intro">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="start-container full-height">
					<h1>{{ page.heading }}</h1>
					<div class="start-states">
						{% for state in site.data.states %}
						<div><a href="#{{ state.abbreviation }}">{{ state.name }}</a></div>
						{% endfor %}
					</div>
				</div>
				{% for state in site.data.states %}
				<hr id="{{ state.abbreviation }}" />
				<div class="start-card">
					<h2>{{ state.name }}</h2>
					<div class="start-section">
						<div class="start-area">
							<h4>House of Representatives</h4>
							<p>All districts</p>
						</div>
						<div class="start-action">
							<a class="button" href="/details">Select →</a>
						</div>
					</div>
					<div class="start-section">
						<div class="start-area">
							<h4>State Senate</h4>
							<p>All districts</p>
						</div>
						<div class="start-action">
							<a class="button" href="/details">Select →</a>
						</div>
					</div>
					<div class="start-section">
						<div class="start-area">
							<h4>State House</h4>
							<p>All districts</p>
						</div>
						<div class="start-action">
							<a class="button" href="/details">Select →</a>
						</div>
					</div>
					<div class="start-section">
						<div class="start-area">
							<h4>Local Contests</h4>
							<p>
								{% for city in site.data.cities %} {% if state.abbreviation ==
								city.state %}
								<span class="start-local">{{ city.name }}</span>
								{% endif %} {% endfor %}
							</p>
						</div>
						<div class="start-action">
							<a class="button" href="/details">Select →</a>
						</div>
					</div>
					<div class="start-section">
						<div class="start-area">
							<h4>Other</h4>
							<p>
								We aren’t 100% sure if we have access to data for your district.
								But we want to make you a map! Please
								<a href="{{site.contactemail}}">contact us</a>.
							</p>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
