---
layout: default
---

<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<h1>Purchase complete</h1>
				<p class="intro">
					We received your order for a MapBlue district map. We will email you
					within three business days with your map and easy-to-follow
					instructions for how to get it on your website. Thank you for your
					purchase, and we look forward to serving you.
				</p>
				<p>
					If you have any questions, please
					<a href="{{site.contactemail}}">contact us</a>.
				</p>
			</div>
		</div>
	</div>
</section>
